<?xml version="1.0"?>
    <config>
        <modules>
           <YRS_PaymentMethod>
              <version>0.1.0</version>
           </YRS_PaymentMethod>
        </modules>     
        <global>
			<blocks>
				<paymentmethod>
					<class>YRS_PaymentMethod_Block</class>
				</paymentmethod>
			</blocks>
            <models>
                <paymentmethod>
                    <class>YRS_PaymentMethod_Model</class>
                </paymentmethod>
            </models>
            <helpers>
                <paymentmethod>
                    <class>YRS_PaymentMethod_Helper</class>
                </paymentmethod>
            </helpers>			
            <resources>
                <paymentmethod_setup>
                    <setup>
                        <module>YRS_PaymentMethod</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </paymentmethod_setup>
                <paymentmethod_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </paymentmethod_write>
                <paymentmethod_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </paymentmethod_read>
            </resources>
        </global>     
        <default>
            <payment>
                <paymentmethod>
                    <active>0</active> 
					<title>Cpayment Method</title>
					<model>paymentmethod/paymentmodel</model>
                    <order_status>1</order_status>                    
					<cugi_url>https://secure.authorize.net/gateway/transact.dll</cugi_url> 					
                </paymentmethod>
             </payment>
        </default>
		 <frontend>
			<routers>
			  <paymentmethod>
				<use>standard</use>
				<args>
				  <module>YRS_PaymentMethod</module>
				  <frontName>paymentmethod</frontName>
				</args>
			  </paymentmethod>
			</routers>
		</frontend>
    </config>